html {
  font-size: 10px;
}

body {
  background-color: #f3f3f3;
  font-family: RobotoSlab;
}

%container {
  padding: {
    left: 30px;
    right: 30px;
  }
  max-width: 1200px;
  margin: {
    left: auto;
    right: auto;
  }
  @include media(1200px) {
    max-width: 900px;
  }
  @include media(980px) {
    padding: {
      left: 24px;
      right: 24px;
    }
  }
  @include media(480px) {
    padding: {
      left: 16px;
      right: 16px;
    }
  }
}


