@font-face {
  font:{
    family: RobotoSlab;
    weight: normal;
    style: normal;
  }
  src: url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf');
}

@font-face {
  font:{
    family: Raleway;
    weight: normal;
    style: normal;
  }
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

