.footer {
  background-color: #fff;
  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: {
      top: 25px;
      bottom: 45px;
    }
    @include media(767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__ref {
    @include media(767px) {
      display: none;
    }
  }
}

.ref {
  &__itself {
    display: block;
    @extend %minorText;
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.social {
  margin-right: 27%;
  @include media(1200px) {
    margin: 0;
  }
  @include media(767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    @extend %minorText;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
    @include media(767px) {
      margin: {
        top: 10px;
        bottom: 5px;
      }
    }
  }
  &__icon-container {
    display: flex;
    justify-content: space-between;
    width: 150px;
    @include media(1200px) {
      width: 250px;
    }
    @include media(980px) {
      width: 200px;
    }
    @include media(767px) {
      margin: {
        top: 10px;
        bottom: 10px;
      }
      width: 250px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0d3351;
    width: 30px;
    height: 30px;
    @include media(1200px) {
      width: 45px;
      height: 45px;
    }
    &:hover {
      background-color: #13b0e9;
    }
  }
  &__icon {
    width: 17px;
    height: 17px;
    @include media(1200px) {
      width: 25px;
      height: 25px;
    }
    @include media(767px) {
      width: 25px;
      height: 25px;
    }
  }
}

.contacts {
  margin-right: 20px;
  @include media(767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__tel {
    @extend %minorText;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0;
  }
  &__address {
    @extend %minorText;
    font-weight: 500;
    line-height: 2.8rem;
    margin: 0;
  }
}