.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @extend %mainText;
    margin: 0;
    margin-top: 100px;
    letter-spacing: 1px;
  }
  &__sort {
    @extend %minorText;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2.4rem;
    margin-bottom: 30px;
    position: relative;
    &:after {
      content: '';
      width: 8px;
      height: 5px;
      position: absolute;
      top: 10px;
      right: -20px;
      background: url('../img/svg/navigation_arrow.svg') 100% 100%;
    }
  }
  &__cruises {
    @include row_grid(15px);
  }
  &__cruise {
    @include col_grid(555px, 15px, 2);
    margin: {
      top: 10px;
      bottom: 10px;
    }
    &:first-child:before {
      content: 'Хит продаж';
      position: absolute;
      top: -7px;
      right: 47px;
      width: 90px;
      height: 50px;
      color: #fff;
      text-align: center;
      letter-spacing: 1px;
      background-color: #33c7fd;
      text-transform: uppercase;
      font: {
        family: Raleway;
        size: 1.4rem;
        weight: 300;
      }
      padding-top: 30px;
    }
    &:first-child:after {
      content: '';
      position: absolute;
      top: 73px;
      right: 47px;
      display: block;
      border-left: 45px solid #33c7fd;
      border-right: 45px solid #33c7fd;
      border-bottom: 20px solid transparent;
    }
  }
  &__button {
    @extend %button;
    letter-spacing: 1px;
    padding: 0 45px 0 40px;
    margin: {
      top: 10px;
      bottom: 65px;
    }
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 25px;
      top: 23px;
      background-image: url('../img/svg/button_arrow.svg');
      width: 8px;
      height: 5px;
    }
  }
}

.cruise {
  background-color: #fff;
  position: relative;
  &__title {
    font: {
      family: RobotoSlab;
      size: 1.8rem;
      weight: 300;
    }
    line-height: 4.3rem;
    letter-spacing: 1px;
    color: #00a2dd;
    margin: 0;
    padding: {
      top: 15px;
      left: 35px;
    }
  }
  &__description {
    @extend %minorText;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 35px;
  }
  &__price {
    font: {
      family: RobotoSlab;
      size: 3rem;
    }
    line-height: 4.8rem;
    color: #0d3351;
    display: inline-block;
    margin: 0;
    padding: 7px 35px 30px;
  }

  &__old-price {
    font: {
      family: RobotoSlab;
      size: 1.8rem;
    }
    line-height: 4.8rem;
    text-decoration: line-through;
    opacity: 0.5;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__wrapped:first-child:before {
    content: 'Акция';
    position: absolute;
    top: -7px;
    right: 47px;
    width: 90px;
    height: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f20542;
    text-transform: uppercase;
    font: {
      family: Raleway;
      size: 1.4rem;
      weight: 300;
    }
    padding-top: 40px;
  }
  &__wrapped:first-child:after {
    content: '';
    position: absolute;
    top: 73px;
    right: 47px;
    display: block;
    border-left: 45px solid #f20542;
    border-right: 45px solid #f20542;
    border-bottom: 22px solid transparent;
  }

  &__wrapped:last-child:before {
    content: 'Скидка 10%';
    position: absolute;
    top: -7px;
    right: 47px;
    width: 90px;
    height: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f20542;
    text-transform: uppercase;
    font: {
      family: Raleway;
      size: 1.4rem;
      weight: 300;
    }
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__wrapped:last-child:after {
    content: '';
    position: absolute;
    top: 73px;
    right: 47px;
    display: block;
    border-left: 45px solid #f20542;
    border-right: 45px solid #f20542;
    border-bottom: 20px solid transparent;
  }
}