@font-face {
  font-family: RobotoSlab;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Medium.ttf"); }

@font-face {
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  padding: 0; }

div {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  background-color: #f3f3f3;
  font-family: RobotoSlab; }

.header__container, .main__container, .footer__container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 1200px) {
  .header__container, .main__container, .footer__container {
    max-width: 900px; } }

@media only screen and (max-width: 980px) {
  .header__container, .main__container, .footer__container {
    padding-left: 24px;
    padding-right: 24px; } }

@media only screen and (max-width: 480px) {
  .header__container, .main__container, .footer__container {
    padding-left: 16px;
    padding-right: 16px; } }

.header__title, .header__title-important, .catalogue__title {
  font-family: RobotoSlab;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.8rem;
  color: #0d3351; }

@media only screen and (max-width: 1200px) {
  .header__title, .header__title-important, .catalogue__title {
    font-size: 2.6rem; } }

.params__item, .catalogue__sort, .cruise__description, .text__description, .ref__itself, .social__title, .contacts__tel, .contacts__address {
  font-family: Raleway;
  font-size: 1.4rem;
  color: #0d3351; }

.header__button, .catalogue__button, .text__button {
  font-family: Raleway;
  font-size: 1.4rem;
  line-height: 4.8rem;
  color: #fff;
  background-color: #33c7fd;
  padding: 0 50px;
  cursor: pointer; }

.header__button:hover, .catalogue__button:hover, .text__button:hover {
  background-color: #13b0e9; }

.header__button:active, .catalogue__button:active, .text__button:active {
  background-color: #64d6ff; }

.header {
  background: url("../img/pictures/header_background.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover; }

.header__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 570px;
  position: relative; }

@media only screen and (max-width: 980px) {
  .header__center {
    height: 520px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 640px) {
  .header__center {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -50px; } }

.header__picture {
  width: 100%; }

@media only screen and (max-width: 980px) {
  .header__picture {
    width: 80%; } }

.header__title {
  margin: 0;
  letter-spacing: 1px; }

.header__title-important {
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 70px; }

@media only screen and (max-width: 1200px) {
  .header__title-important {
    font-size: 6.8rem; } }

@media only screen and (max-width: 980px) {
  .header__title-important {
    margin: 15px auto 35px; } }

@media only screen and (max-width: 767px) {
  .header__title-important {
    font-size: 5rem; } }

.header__button {
  letter-spacing: 1px;
  position: relative; }

@media only screen and (max-width: 980px) {
  .header__button {
    margin-bottom: 150px; } }

.header__transition-line {
  display: block;
  width: 61px;
  height: -webkit-calc(61px * 4.59);
  height: calc(61px * 4.59);
  position: absolute;
  bottom: -95px;
  overflow: hidden; }

@media only screen and (max-width: 980px) {
  .header__transition-line {
    width: 50px;
    height: -webkit-calc(50px * 4.59);
    height: calc(50px * 4.59);
    bottom: -55px; } }

@media only screen and (max-width: 390px) {
  .header__transition-line {
    height: 210px;
    bottom: -65px; } }

.header__transition-line-image {
  width: 100%; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  z-index: 4;
  position: relative; }

.menu {
  position: relative; }

.menu__list {
  position: absolute;
  background-color: #0d3351;
  width: 0;
  opacity: 0;
  padding: 55px 0 65px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: width 0.4s, padding 0.4s, opacity 0.5s;
  -o-transition: width 0.4s, padding 0.4s, opacity 0.5s;
  transition: width 0.4s, padding 0.4s, opacity 0.5s;
  z-index: 1; }

.menu__list_visibility_visible {
  width: 420px;
  opacity: 1; }

@media only screen and (max-width: 479px) {
  .menu__list_visibility_visible {
    width: 350px; } }

@media only screen and (max-width: 383px) {
  .menu__list_visibility_visible {
    width: 285px; } }

.menu__button {
  margin: 20px 0 -10px -10px;
  cursor: pointer;
  padding: 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.menu__button_press_pressed {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }

.list__ref {
  display: block;
  font-family: RobotoSlab;
  font-size: 1.8rem;
  line-height: 4.9rem;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 45px; }

@media only screen and (max-width: 479px) {
  .list__ref {
    padding: 0 30px; } }

@media only screen and (max-width: 383px) {
  .list__ref {
    padding: 0 16px; } }

.list__ref:hover {
  background-color: #33c7fd; }

.params {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
  margin-top: 35px; }

@media only screen and (max-width: 640px) {
  .params {
    display: none; } }

.params__item {
  font-weight: 500;
  position: relative;
  cursor: pointer; }

.params__item:last-child {
  margin-top: -10px;
  cursor: default; }

.params__item-subtext {
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  padding-top: 5px;
  margin: 0; }

.params__item:first-child:before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: -20px;
  background: url("../img/svg/navigation_user.svg") 50% 50%; }

.params__item:first-child:after {
  content: "";
  width: 8px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 115px;
  background: url("../img/svg/navigation_arrow.svg") 50% 50%; }

.params__item:nth-child(2):before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: -20px;
  background: url("../img/svg/navigation_ruble.svg") 50% 50%; }

.params__item:nth-child(2):after {
  content: "";
  width: 8px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50px;
  background: url("../img/svg/navigation_arrow.svg") 50% 50%; }

.params__item:nth-child(3):after {
  content: "";
  width: 8px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 25px;
  background: url("../img/svg/navigation_arrow.svg") 50% 50%; }

@media only screen and (max-width: 767px) {
  .main__container {
    max-width: 500px; } }

@media only screen and (max-width: 1200px) {
  .catalogue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.catalogue__title {
  width: 330px;
  margin: 100px auto 0;
  letter-spacing: 1px; }

@media only screen and (max-width: 1200px) {
  .catalogue__title {
    width: auto; } }

@media only screen and (max-width: 980px) {
  .catalogue__title {
    margin-top: 60px; } }

.catalogue__sort {
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2.4rem;
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative; }

@media only screen and (max-width: 1200px) {
  .catalogue__sort {
    width: auto;
    padding-right: 10px; } }

.catalogue__sort:after {
  content: '';
  width: 8px;
  height: 5px;
  position: absolute;
  top: 10px;
  right: -20px;
  background: url("../img/svg/navigation_arrow.svg") 50% 50%; }

@media only screen and (max-width: 1200px) {
  .catalogue__sort:after {
    right: -10px; } }

.catalogue__cruises {
  margin-left: -15px;
  margin-right: -15px; }

@media only screen and (max-width: 1200px) {
  .catalogue__cruises {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px; } }

.catalogue__cruises:after {
  content: '';
  clear: both;
  display: block; }

.catalogue__cruise {
  width: -webkit-calc(100% / 12 * 6 - 15px * 2);
  width: calc(100% / 12 * 6 - 15px * 2);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }

@media only screen and (max-width: 767px) {
  .catalogue__cruise {
    width: -webkit-calc(100% / 12 * 12 - 15px * 2);
    width: calc(100% / 12 * 12 - 15px * 2);
    margin-left: 15px;
    margin-right: 15px; } }

.catalogue__cruise:nth-child(1), .catalogue__cruise:nth-child(4) {
  float: left; }

@media only screen and (max-width: 1200px) {
  .catalogue__cruise:nth-child(1), .catalogue__cruise:nth-child(4) {
    float: none; } }

.catalogue__cruise:nth-child(2), .catalogue__cruise:nth-child(3), .catalogue__cruise:nth-child(5) {
  float: right; }

@media only screen and (max-width: 1200px) {
  .catalogue__cruise:nth-child(2), .catalogue__cruise:nth-child(3), .catalogue__cruise:nth-child(5) {
    float: none; } }

@media only screen and (max-width: 1200px) {
  .catalogue__cruise:last-child {
    display: none; } }

.catalogue__button {
  letter-spacing: 1px;
  padding: 0 35px;
  display: block;
  width: 200px;
  margin: 20px auto 60px;
  position: relative; }

.catalogue__button:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 23px;
  background-image: url("../img/svg/button_arrow.svg");
  width: 8px;
  height: 5px; }

.cruise {
  background-color: #fff;
  position: relative; }

.cruise__info {
  padding: 0 20px 26px 35px; }

@media only screen and (max-width: 480px) {
  .cruise__info {
    padding-left: 16px;
    padding-right: 16px; } }

.cruise__title {
  font-family: RobotoSlab;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #00a2dd;
  margin: 0;
  padding: 20px 0 10px; }

.cruise__description {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 0; }

.cruise__price {
  font-family: RobotoSlab;
  font-size: 3rem;
  color: #0d3351;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  word-spacing: 7px; }

.cruise__old-price {
  font-family: RobotoSlab;
  font-size: 1.8rem;
  text-decoration: line-through;
  opacity: 0.5;
  margin-left: 30px; }

@media only screen and (max-width: 356px) {
  .cruise__old-price {
    display: block;
    margin: 0; } }

.cruise__image-desktop {
  display: block;
  width: 100%;
  cursor: pointer; }

@media only screen and (max-width: 1200px) {
  .cruise__image-desktop {
    display: none; } }

.cruise__image-tablet {
  display: none; }

@media only screen and (max-width: 1200px) {
  .cruise__image-tablet {
    display: block;
    width: 100%; } }

.cruise__bestseller {
  position: absolute;
  top: -20px;
  right: 47px;
  width: 90px;
  height: 80px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #33c7fd;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 30px; }

.cruise__bestseller:after {
  content: '';
  position: absolute;
  top: 80px;
  right: 0;
  display: block;
  border-left: 45px solid #33c7fd;
  border-right: 45px solid #33c7fd;
  border-bottom: 20px solid transparent; }

.cruise__promotion {
  position: absolute;
  top: -20px;
  right: 47px;
  width: 90px;
  height: 80px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #f20542;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 40px; }

.cruise__promotion:after {
  content: '';
  position: absolute;
  top: 80px;
  right: 0;
  display: block;
  border-left: 45px solid #f20542;
  border-right: 45px solid #f20542;
  border-bottom: 22px solid transparent; }

.cruise__discount {
  position: absolute;
  top: -20px;
  right: 47px;
  width: 90px;
  height: 80px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #f20542;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 30px; }

.cruise__discount:after {
  content: '';
  position: absolute;
  top: 80px;
  right: 0;
  display: block;
  border-left: 45px solid #f20542;
  border-right: 45px solid #f20542;
  border-bottom: 22px solid transparent; }

.pop-up {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0; }

.pop-up_visibility_visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.pop-up__card {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 40px 90px;
  background-color: #fff;
  width: 850px; }

.card__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px; }

.card__images-main {
  padding-bottom: 10px;
  font-size: 0; }

.card__images-rest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text {
  margin-left: 20px; }

.text__title {
  font-family: RobotoSlab;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #00a2dd;
  margin: 0;
  margin-bottom: 30px; }

.text__description {
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
  line-height: 2.5rem; }

.text__price {
  font-family: RobotoSlab;
  font-size: 3rem;
  color: #0d3351;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  word-spacing: 7px; }

.text__old-price {
  font-family: RobotoSlab;
  font-size: 1.8rem;
  text-decoration: line-through;
  opacity: 0.5;
  margin-left: 30px; }

@media only screen and (max-width: 356px) {
  .text__old-price {
    display: block;
    margin: 0; } }

.text__button {
  letter-spacing: 1px;
  padding: 0 35px;
  display: block;
  width: 200px; }

.footer {
  background-color: #fff; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 45px; }

@media only screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media only screen and (max-width: 767px) {
  .footer__ref {
    display: none; } }

.ref__itself {
  display: block;
  font-weight: 500;
  margin-bottom: 5px; }

.social {
  margin-right: 27%; }

@media only screen and (max-width: 1200px) {
  .social {
    margin: 0; } }

@media only screen and (max-width: 767px) {
  .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; } }

.social__title {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px; }

@media only screen and (max-width: 767px) {
  .social__title {
    margin-top: 10px;
    margin-bottom: 5px; } }

.social__icon-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px; }

@media only screen and (max-width: 1200px) {
  .social__icon-container {
    width: 250px; } }

@media only screen and (max-width: 980px) {
  .social__icon-container {
    width: 200px; } }

@media only screen and (max-width: 767px) {
  .social__icon-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px; } }

.social__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #0d3351;
  width: 30px;
  height: 30px; }

@media only screen and (max-width: 1200px) {
  .social__item {
    width: 45px;
    height: 45px; } }

.social__item:hover {
  background-color: #13b0e9; }

.social__icon {
  width: 17px;
  height: 17px; }

@media only screen and (max-width: 1200px) {
  .social__icon {
    width: 25px;
    height: 25px; } }

@media only screen and (max-width: 767px) {
  .social__icon {
    width: 25px;
    height: 25px; } }

.contacts {
  margin-right: 20px; }

@media only screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; } }

.contacts__tel {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0; }

.contacts__address {
  font-weight: 500;
  line-height: 2.8rem;
  margin: 0; }
